@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

.back-btn {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.country-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #b0b0b0;
}
::-webkit-scrollbar-thumb {
  background: rgb(77, 77, 77);
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
